@import '../../../common_styles/mixins';

.articles-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .articles-list {
    order: 3;
    width: 100%;
    flex: 1;

    @include phone {
      flex: 100%;
      margin: 16px 0 0 0;
    }
  }
}
