@import './reset.scss';
@import './mixins.scss';
@import './_variables.scss';

html {
  font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: 'Lato', "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4rem;
  line-height: 1.4;
  color: $text-color;
}
