@import '../../../../../common_styles/mixins';
@import '../../../../../common_styles/variables';

.sort-bar-wrapper {
  order: 1;
  width: 100%;
  margin: 16px 0 40px;

  .sort-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
  }

  .arrows-wrapper {
    margin: 0 0 0 16px;

    .icon {
      fill: $text-color;
      cursor: pointer;
      height: 14px;

      svg {
        width: 14px;
      }

      &.active {
        fill: $accent-color;
      }
    }
  }

  @include phone {
    order: 2;
    flex: 1;
    margin: 0;
  }
}
